{% extends "aboutme/base.html" %}
{% load i18n %}

{% block title %}{% trans "About myself" %}{% endblock %}

{% block content %}
    <h1>{% trans "Edit aboutme data." %}</h1>
    <form method="POST">
        <ul>     
            <li><label for="full_name"><strong> Full name: </strong></label><input type="TEXT" name="full_name" value="{{ aboutme.full_name }}"/> </li>
            <li><label for="cell_phone"><strong> Cell phone: </strong></label><input type="TEXT" name="full_name" value="{{ aboutme.cell_phone }}"/> </li>
            <li><label for="home_phone"><strong> Home phone: </strong></label><input type="TEXT" name="full_name" value="{{ aboutme.home_phone }}"/> </li>
            <li><label for="bio"><strong> Biography: </strong></label><textarea rows="20" cols="40">{{aboutme.bio }}</textarea> </li>
            <li><input type="submit" value="Save"/></li>
        </ul>
    </form>
{% endblock %}

