body {
    background: #3d3d3d;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
}

#container {
    width: 600px;
    margin: 50px auto;
    background: #fff;
    border: 1px solid #888;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

.aboutme-edit {
    text-align: center;
}

.cleaner {
    clear: both;
}
.content {
    padding: 10px;
    color: #555;
    padding-top: 20px;
}

.content ul li{
    list-style-type: none;
}
.fieldWrapper {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.fieldWrapper label{
    width: 150px;
    display: inline-block;
    font-weight: bolder;
    color: #555;
}
.navigation
{
    float: left;
    width: 100%;
    background: #333;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
}

.navigation ul
{
    margin: 0;
    padding: 0;
}

.navigation ul li
{
    list-style-type: none;
    display: inline;
}

.navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.navigation li a.active { background: #151; }
.navigation li a:hover { background: #383; }


.navigation .right {
    float: right;
    border-right: none;
    border-radius: 0 8px 0 0;
    -moz-border-radius: 0 8px 0 0;
}
.navigation .left {
    border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
